autoanalyst_dbt:
  target: dev
  outputs:
    dev:
      type: postgres
      host: postgres
      user: postgres
      password: "{{ env_var('POSTGRES_PASSWORD') }}"
      port: 5432
      dbname: autoanalyst
      schema: analytics
      threads: 4
