.git
.gitignore
.env
.venv
airflow/.venv
__pycache__
**/__pycache__
*.py[cod]
*.egg-info
.eggs
dist
build

dbt/target
dbt/logs
dbt/dbt_packages

airflow/logs
airflow/airflow
airflow/airflow.db
airflow/airflow.cfg
airflow/webserver_config.py
airflow/standalone_admin_password.txt
airflow/*.pid

.DS_Store
.vscode
.idea
